/* Global settings */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-pink: #ff6863;
  --color-sky-blue: #008dc7;
  --color-dark-grey: #4d4d4d;
  --color-bluish-green: #455e62;
  --color-gunmetal: #4f6b7e;
  --color-indigo: #00007a;
  --color-black: #000000;
  --color-purple: #8300f0;
  --color-medium-yellow: #fbd084;
  --color-dark-yellow: #f9be52;
  /* 사용 */
  --color-dark-white: #bdbdbd;
  --color-medium-blue: #63869d;
  --color-light-grey: #d3d3d3;
  --color-medium-grey: #abaeb0;
  --color-heavy-grey: #7d7a7a;
  --color-light-yellow: #fde3b5;

  /* Font size */
  --font-large: 4.8rem;
  --font-medium: 2.8rem;
  --font-regular: 1.8rem;
  --font-small: 1.6rem;
  --font-micro: 1.4rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regular: 400;
  /* 구글 폰트에서 선택한 3가지 (Roboto) */

  /* Size */
  --size-border-radius: 4rem;
}

/* Universal tags */
* {
  /* 패딩을 줬을 때  width와 height가 그 패딩을 포함해도 동일한
  높이와 너비가 되도록 */
  box-sizing: border-box;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  /* button,input 등 form 태그는 body에서 정의한 폰트 CSS값 상속 x */
  font-family: 'Roboto', sans-serif;
}

button:hover {
  background: var(--color-dark-pink);
  border-radius: var(--size-border-radius);
}

/* Typography */
html {
  font-size: 62.5%;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 2rem 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
  color: var(--color-black);
  margin: 1rem 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 1rem 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 1rem 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  cursor: default;
  /* 텍스트 등에 cursor 올릴 때 기본값 */
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

/* Section */
.section {
  text-align: center;
  border-top: thick double var(--color-dark-white);
  padding: 8rem;
}

.section__container {
  max-width: 120rem;
  margin: auto;
}

/* ------------------------------------------------------------------ */

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  position: fixed;
  /* 부모 너비의 100% */
  width: 100%;
  background-color: transparent;
  color: var(--color-white);
  /* 배치 순서 결정, position이 static이 아닌 것만 적용 가능 */
  z-index: 1;
  transition: all 300ms cubic-bezier(0.94, 0.09, 0.93, 0.06);
}

#navbar.navbar--dark {
  background-color: var(--color-medium-blue);
}

.logo__img.reactive {
  content: url(imgs/Favicon_Reactive.png);
}

.navbar__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo__content {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.logo__img {
  width: 6rem;
  height: 6rem;
  margin-right: 1.5rem;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 0.8rem 1.2rem;
  margin: 0 0.4rem;
  cursor: pointer;
  font-size: var(--font-regular);
  /* 텍스트 춤추는 것 방지 위해 transparent 지정 */
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 0.2rem solid var(--color-white);
}

.navbar__menu__item:hover {
  border-color: var(--color-white);
  background-color: var(--color-dark-pink);
}

/* navbar__toggle */
.navbar__toggle {
  position: absolute;
  right: 3.2rem;
  top: 3rem;
  font-size: var(--font-medium);
  color: var(--color-white);
  /* opacity는 안보여도 커서 올리면 클릭이 되기 때문에 사용안했음 */
  display: none;
}

/* ------------------------------------------------------------------ */

/* Home */
#home {
  /* 웹 페이지가 늘어나면 이미지도 맞춰서 중앙 부분이 늘어나게*/
  background: url('imgs/Home/background.png') center/cover;
  padding: 8rem;
  text-align: center;
  border-top: thick double var(--color-dark-white);
}

.home__profile {
  width: 30rem;
  height: 30rem;
  /* 이미지 너비, 높이 300px */
  border-radius: 40%;
  border: 0.3rem solid var(--color-light-white);
}

.home__title,
.home__subtitle {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  padding: 1.2rem;
  margin: 3.5rem;
  border: 0.3rem solid var(--color-dark-white);
  border-radius: 2rem;
  outline: 0.4rem dashed var(--color-light-white);
}

/* ------------------------------------------------------------------ */

/* About */
#about {
  background: linear-gradient(
    309deg,
    rgba(201, 214, 255, 1) 0%,
    rgba(226, 226, 226, 1) 84%
  );
}

#about h2 {
  line-height: 4.5rem;
}

.about__skack {
  display: flex;
  justify-content: space-between;
  margin: 6rem 0;
}

.stack__icon {
  width: 18rem;
  height: 18rem;
  /* 아이콘 80px 위치에서 수직 정렬 */
  line-height: 8rem;
  font-size: 6rem;
  padding: 2rem;
  border-radius: 50%;
  outline: 0.4rem dashed var(--color-dark-grey);
  margin-bottom: 1.6rem;
  color: var(--color-sky-blue);
}

.stack__img {
  width: 18rem;
  height: 18rem;
  /* 아이콘 180px 위치에서 수직 정렬 */
  line-height: 18rem;
  padding: 2rem;
  border-radius: 50%;
  outline: 0.4rem dashed var(--color-dark-grey);
  margin-bottom: 1.6rem;
}

.stack__img__logo {
  width: 7rem;
  height: 7rem;
  transition: all 400ms cubic-bezier(0.88, 0.66, 1, 0.31);
}

.stack:hover img {
  transform: scale(2) rotate(360deg);
}

.stack__icon i {
  /* 1s=1000ms */
  /* 커서 떼도 애니메이션 유지 위해 hover 안에 안넣음 */
  transition: all 400ms cubic-bezier(0.88, 0.66, 1, 0.31);
}

.stack__icon i:hover {
  color: var(--color-indigo);
  cursor: pointer;
  transform: scale(2) rotate(360deg);
}

.stack__title,
.stack__subtitle {
  color: var(--color-dark-grey);
}

.stack__title {
  font-size: var(--font-medium);
  text-align: center;
  font-weight: var(--weight-bold);
}

.stack__subtitle {
  font-size: var(--font-regular);
}

.about__school {
  /* inline-flex : inline 형식으로 수평 정렬 */
  display: flex;
  /* align-content : flex 요소 교차축 정렬 (2줄) */
  align-items: center;
  /* 공간 배분하기 전 기본 너비 33.3%씩 설정 */
  flex-basis: 33.3%;
}

.school__logo {
  width: 6rem;
  height: 6rem;
  margin: 2rem 3rem;
}

.school__description {
  text-align: left;
}

.school__name {
  font-size: var(--font-regular);
  color: var(--color-dark-grey);
}

.school__period {
  font-size: var(--font-micro);
  color: var(--color-dark-grey);
}

/* ------------------------------------------------------------------ */

/* Skill */
#skill p {
  font-weight: var(--weight-bold);
}

.skillset {
  display: flex;
  color: var(--color-light-white);
  margin-top: 2rem;
  padding: 2rem 4rem;
}

.skillset__title {
  color: var(--color-white);
  font-size: var(--font-medium);
}

.skillset__left {
  /* 부모 너비의 60%만큼 차지 */
  flex-basis: 60%;
  background-color: var(--color-bluish-green);
}

.graph {
  display: flex;
  /* 요소 사이에 동일한 간격 주면서 첫번째와 마지막 요소는 여백 */
  justify-content: space-around;
  flex-wrap: wrap;
}

.graph__bar {
  position: relative;
  height: 20rem;
  width: 3rem;
  background-color: var(--color-light-grey);
  /* block요소에서 text-align 사용 위해 */
  margin: auto;
  border-radius: var(--size-border-radius);
}

.graph__value {
  /* position이 static이 아닌 부모 요소를 기준 */
  position: absolute;
  /* 부모 요소 너비의 100% */
  width: 100%;
  background-color: var(--color-dark-grey);
  bottom: 0;
}

.graph__title,
.graph__percent {
  font-size: var(--font-micro);
}

.skillset__right {
  /* 부모 너비의 40%만큼 차지 */
  flex-basis: 40%;
  background-color: var(--color-gunmetal);
}

.tool li {
  padding: 1.5rem 0;
  font-size: var(--font-micro);
}

/* ------------------------------------------------------------------ */

/* work__tab */
#work {
  background: linear-gradient(
    309deg,
    rgba(201, 214, 255, 1) 0%,
    rgba(226, 226, 226, 1) 84%
  );
}

.work__tab {
  margin: 4rem;
}

.tab__btn {
  /* 자식 work__count에 absolute 지정 */
  position: relative;
  border: 0.2rem solid var(--color-dark-grey);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-indigo);
  padding: 0.4rem 3rem;
  margin: 1.5rem 1rem 0 0;
}

.tab__btn.active,
.tab__btn:hover {
  /* tab__btn이 active하거나 커서 올라가면 스타일 변경 */
  color: var(--color-dark-pink);
  background-color: var(--color-dark-blue);
}

.tab__btn.active .work__count,
.tab__btn:hover .work__count {
  /* tab__btn이 active인 상태의 work__count와
     tab__btn에 커서 올라갔을 때 work__count */
  opacity: 1;
  top: 0;
  right: 0.4rem;
}

.work__count {
  border: 0.3rem solid var(--color-dark-pink);
  border-radius: var(--size-border-radius);
  color: var(--color-indigo);
  /* span은 inline요소라서 width,height 지정 못하기 때문에
    inline-block으로 설정*/
  display: inline-block;
  width: 2.3rem;
  height: 2.8rem;
  /* line-height은 한줄만 수직 정렬할 때 사용 */
  line-height: 2.8rem;
  /* 부모인 tab__btn에 relative지정 */
  position: absolute;
  top: -2rem;
  right: -2rem;
  opacity: 0;
  transition: all 300ms cubic-bezier(0.95, 0.13, 0.61, 0.58);
}

/* Work Category Filtering */
.project.visible {
  display: none;
}

@keyframes animOut {
  /* 0(from) ~ 100(to) */
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(3rem) scale(0.95);
  }
}

/* work__project */
.work__project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work__project.anim-out {
  /* keyframes 이름 */
  animation: animOut 300ms ease-out;
}

.project {
  width: 20rem;
  height: 25rem;
  margin: 0.5rem;
  background: linear-gradient(
    151deg,
    rgba(232, 203, 192, 1) 0%,
    rgba(99, 111, 164, 1) 84%
  );
  /* 자식요소인 project__description에 absolute 지정 위해 */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__img {
  /* 부모 너비, 높이의 100%만큼 */
  /* 조상인 work__project가 flex라서 가능 */
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  /* relative는 원래 자리 차지하면서 이동 */
  position: absolute;
  top: 0;
  /* 부모 요소의 너비, 높이 100%만큼 */
  width: 100%;
  height: 100%;
  background-color: var(--color-light-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translatex(200rem);
  transition: all 300ms cubic-bezier(0.9, 0.02, 0.49, 0.99);
}

.project__description h3 {
  color: var(--color-indigo);
  font-weight: var(--weight-bold);
}

.project__description p {
  color: var(--color-purple);
  font-weight: var(--weight-bold);
}

.project:hover .project__description {
  /* project에 커서 올라올 때 project__description */
  opacity: 0.5;
  transform: translateX(0);
}

.project__description h3:after {
  /* 가상클래스 */
  /* project__description h3 다음에 올 것 적기 */
  /* content 속성 필수 */
  content: '- - - - - - - - - - - - - - - - ';
  /* 한줄씩 들어가도록 하기 위해 block 지정 */
  display: block;
  margin-top: 1rem;
  color: var(--color-black);
}

/* ------------------------------------------------------------------ */

/* Footer */
#footer {
  background-color: var(--color-dark-grey);
}

.footer__comment,
.footer__title,
.contact__phone,
.contact__email {
  color: var(--color-white);
}

.contact__email,
.contact__phone {
  padding: 0.7rem 0;
  word-wrap: break-word;
}

.contact__phone {
  transform: translateX(-2.5rem);
}

.footer__link i {
  font-size: var(--font-large);
  color: var(--color-light-white);
  margin: 0 0.8rem;
  transition: all 300ms ease-out;
}

.footer__link i:hover {
  transform: scale(1.7) rotate(360deg);
  color: var(--color-medium-yellow);
}

.top__btn {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 5rem;
  height: 5rem;
  font-size: var(--font-medium);
  color: var(--color-black);
  background-color: var(--color-light-white);
  border-radius: var(--size-border-radius);
  opacity: 0;
  /* 안보일때는 클릭 불가능 */
  pointer-events: none;
  transition: all 300ms cubic-bezier(0.89, 0.15, 0.9, 0.19);
}

.top__btn.visible {
  opacity: 1;
  /* 보일때는 클릭 가능 */
  pointer-events: auto;
}

.top__btn:hover {
  background-color: var(--color-dark-yellow);
}

/* ------------------------------------------------------------------ */

/* Responsive */
@media screen and (max-width: 768px) {
  /* media 쿼리가 768px 이하일 때 보여지는 것 */

  /* Font size */
  :root {
    --font-large: 3rem;
    --font-medium: 1.8rem;
    --font-regular: 1.6rem;
    --font-small: 1.4rem;
    --font-micro: 1.2rem;
  }

  /* Navbar */
  .navbar__toggle {
    /* none으로 설정한 것을 다시 보이게 */
    display: block;
    font-size: var(--font-large);
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .logo__content {
    font-size: 2.8rem;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .navbar__menu {
    /* media 안에서는 display : flex는 상속됨 */
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
    display: none;
  }

  .navbar__menu.open {
    display: block;
    animation: fade-in 1.5s;
    background-color: var(--color-medium-blue);
  }

  /* Home */
  #home {
    padding: 8rem 2rem;
  }

  .home {
    margin-top: 2rem;
  }

  .home__contact {
    margin: 2rem;
  }

  /* About */
  #about {
    padding: 8rem 2rem;
  }

  #about h2 {
    text-align: justify;
    line-height: 2.5rem;
  }

  .about__skack {
    /* display : flex는 상속 */
    flex-direction: column;
    align-items: center;
    margin: 2.5rem 0;
  }

  .stack {
    margin-bottom: 3rem;
  }

  /* Skill */
  #skill {
    padding: 8rem 1.5rem;
  }

  #skill p {
    text-align: center;
  }

  .skillset {
    flex-direction: column;
    margin-top: 1rem;
    min-width: 12rem;
  }

  .graph {
    margin-bottom: 0.5rem;
  }

  /* Work */
  #work {
    padding: 8rem 1rem;
  }

  .work__tab {
    margin: 1rem;
  }

  .tab__btn {
    margin: 1.5rem 1rem 0 0;
    width: 50%;
  }

  .project {
    flex-grow: 1;
  }

  /* Footer */
  #footer {
    padding: 8rem 1rem;
  }

  .contact__phone,
  .contact__email {
    font-size: var(--font-medium);
    font-weight: var(--weight-medium);
    margin-bottom: 2rem;
  }

  .contact__phone {
  }

  /* topBtn */
  .top__btn {
    width: 4rem;
    height: 4rem;
    bottom: 1rem;
    right: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  /* Work */
  .tab__btn {
    overflow: auto;
  }

  /* Home */
  .home__profile {
    max-width: 100%;
    height: auto;
  }

  /* Footer */
  .contact__phone {
    transform: translateX(0);
  }
}
