/* Global settings */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-ivory: #f2f0f0;
  --color-dark-pink: #ff6863;
  --color-medium-blue: #63869d;
  --color-sky-blue: #008dc7;
  --color-light-grey: #d3d3d3;
  --color-medium-grey: #abaeb0;
  --color-heavy-grey: #7d7a7a;
  --color-dark-grey: #4d4d4d;
  --color-gunmetal: #4f6b7e;
  --color-bluish-green: #455e62;
  --color-indigo: #00007a;
  --color-purple: #8300f0;
  --color-light-yellow: #fde3b5;
  --color-medium-yellow: #fbd084;
  --color-dark-yellow: #f9be52;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regular: 400;
  /* 구글 폰트에서 선택한 3가지 (Roboto) */

  /* Size */
  --size-border-radius: 40px;
}

/* Universal tags */
* {
  box-sizing: border-box;
  /* 패딩을 줬을 때  width와 height가 그 패딩을 포함해도 
  동일한 높이와 넓이가 되도록*/
}

button {
  background-color: transparent;
  /* 버튼 배경색 제거 */
  cursor: pointer;
  /* 커서 올리면 손 모양 나오게 */
  border: none;
  /* 아이템 굵기 제거 */
  outline: none;
  /* 아이템 아웃라인(굵기 외부, 너비는 레이아웃 관여 안함) 제거 */
  font-family: 'Roboto', sans-serif;
  /* button 폰트 정의 */
  /* button,input 등 form 태그는 body에서 정의한 폰트 CSS값 상속 x */
}

button:hover {
  background: var(--color-dark-pink);
  /* 커서 올리는 아이템 백그라운드 색상 다크 분홍으로 변경 */
  border-radius: var(--size-border-radius);
  /* 굵기는 40px만큼 깎아서 보이게 */
}

/* Typography */
html {
  font-size: 62.5%;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 20px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
  color: var(--color-black);
  margin: 10px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 10px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 10px 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  cursor: default;
  /* 텍스트 등에 cursor 올릴 때 기본값 */
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

/* Section */
.section {
  text-align: center;
  border-top: thick double var(--color-dark-white);
  padding: 80px;
  /* 줄어드는 웹 브라우저의 크기에 맞춰 요소의 너비도 자동으로 줄도록 (반응형) */
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Navbar */
#navbar {
  display: flex;
  /* 수평 정렬 */
  justify-content: space-between;
  /* 박스 간격 떨어지게 */
  align-items: center;
  /* 수직 중앙 정렬 */
  padding: 16px;
  position: fixed;
  /* 스크롤시 주어진 위치에 고정 (위치값 필수 지정) */
  width: 100%;
  /* 부모 너비의 100% */
  background-color: transparent;
  /* 투명색 */
  color: var(--color-white);
  z-index: 1;
  /* 배치 순서 결정, position이 static이 아닌 것만 적용 가능 */
  transition: all 300ms cubic-bezier(0.94, 0.09, 0.93, 0.06);
}

#navbar.navbar--dark {
  background-color: var(--color-medium-blue);
}

.logo__img.reactive {
  content: url(imgs/Favicon_Reactive.png);
}

.navbar__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo__content {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.logo__img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.navbar__menu {
  display: flex;
  /* 수평정렬 */
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  /* 아이템에 커서 올리면 손 모양 */
}

.navbar__menu__item.active {
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-pink);
  border-radius: var(--size-border-radius);
}

/* navbar__toggle */
.navbar__toggle {
  position: absolute;
  /* 기존 위치에서 빠져나오게 */
  right: 32px;
  top: 30px;
  font-size: var(--font-medium);
  color: var(--color-white);
  display: none;
  /* 평소에는 안보이게 */
  /* opacity(투명도)는 안보여도 커서 올리면 클릭이 되기 때문에 사용안했음 */
}

/* Home */
#home {
  background: url('imgs/Home/background.png') center/cover;
  /* 백그라운드 이미지 지정 */
  /* 웹 페이지가 늘어나면 이미지도 맞춰서 중앙 부분이 늘어나게*/
  padding: 80px;
  text-align: center;
  /* 중간 정렬 */
  border-top: thick double var(--color-dark-white);
  /* 맨 윗부분 굵기 스타일 thick double 색상 dark-white */
}

.home__profile {
  width: 300px;
  height: 300px;
  /* 이미지 너비, 높이 300px */
  border-radius: 40%;
  /* 이미지 40%만큼 동그랗게 */
  border: 3px solid var(--color-light-white);
}

.home__title,
.home__subtitle {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  padding: 12px;
  margin: 35px;
  border: 3px solid var(--color-dark-white);
  border-radius: 20px;
  outline: 4px dashed var(--color-light-white);
  /* 아웃라인(굵기 외부) 4px 스타일 dashed 색상 light-white */
}

/* About */
#about {
  background-color: var(--color-ivory);
}

.about__skack {
  display: flex;
  /* 수평 정렬 */
  justify-content: space-between;
  /* 요소 사이 공간 부여 */
  margin: 60px 0;
}

.stack__icon {
  width: 180px;
  height: 180px;
  /* 컨테이너 너비, 높이 180px */
  line-height: 80px;
  /* 아이콘 80px 위치에서 수직 정렬 */
  font-size: 60px;
  /* 아이콘 크기 60px  */
  padding: 20px;
  border-radius: 50%;
  outline: 4px dashed var(--color-medium-blue);
  /* outline 4px, 스타일 dashed */
  margin-bottom: 16px;
  color: var(--color-sky-blue);
}

.stack__img {
  width: 180px;
  height: 180px;
  /* 컨테이너 너비, 높이 180px */
  line-height: 180px;
  /* 아이콘 180px 위치에서 수직 정렬 */
  padding: 20px;
  border-radius: 50%;
  outline: 4px dashed var(--color-medium-blue);
  /* outline 4px, 스타일 dashed */
  margin-bottom: 16px;
}

.stack__img__logo {
  width: 70px;
  height: 70px;
  /* 기술자격 이미지 너비, 높이 70px */
}

.stack__icon i {
  transition: all 400ms cubic-bezier(0.88, 0.66, 1, 0.31);
  /* 1s=1000ms */
  /* 0.4초동안 모든 요소에 cubic-bezier만큼 애니메이션 적용 */
  /* 커서 떼도 애니메이션 유지 위해 i:hover 안에 안넣음 */
}

.stack__icon i:hover {
  color: var(--color-dark-pink);
  cursor: pointer;
  /* 아이템에 커서 올리면 손 모양 나오게 */
  transform: scale(2) rotate(360deg);
  /* 아이템에 커서  올리면 크기는 2배 커지면서
  360도 회전 */
}

.stack__title,
.stack__subtitle {
  color: var(--color-dark-grey);
}

.stack__subtitle {
  font-size: var(--font-regular);
}

.about__school {
  display: flex;
  /* 수평 정렬 */
  /* inline-flex는 inline 형식으로 수평 정렬 */
  align-items: center;
  /* flex 요소 교차축 중앙 정렬 (1줄) */
  /* align-content : flex 요소 교차축 정렬 (2줄) */
  flex-basis: 33.3%;
  /* 공간 배분하기 전 기본 너비 33.3%씩 설정 */
}

.school__logo {
  width: 60px;
  height: 60px;
  margin: 20px 30px;
}

.school__description {
  text-align: left;
}

.school__name,
.school_period {
  color: var(--color-dark-grey);
}

.school__name {
  font-size: var(--font-regular);
}

.school__period {
  font-size: var(--font-micro);
}

/* Skill */
#skill {
  background-color: var(--color-light-grey);
}

.skillset {
  display: flex;
  /* 수평 정렬 */
  color: var(--color-light-white);
  margin-top: 20px;
  padding: 20px 40px;
}

.skillset__title {
  color: var(--color-white);
  font-size: var(--font-medium);
}

.skillset__left {
  flex-basis: 60%;
  /* 부모 너비의 60%만큼 차지 */
  background-color: var(--color-bluish-green);
  /* 청록색 */
}

.graph {
  display: flex;
  /* 수평 정렬 */
  justify-content: space-around;
  /* 요소 사이에 동일한 간격 주면서 첫번째와 마지막 요소는 여백 있게 */
}

.graph__bar {
  position: relative;
  height: 200px;
  /* 그래프 높이 200px */
  width: 30px;
  /* 그래프 너비 30px */
  background-color: var(--color-light-grey);
  margin: auto;
  /* block요소에서 text-align 사용 위해 */
  text-align: center;
  /* 중앙 정렬 */
  border-radius: var(--size-border-radius);
}

.graph__value {
  position: absolute;
  /* position이 static이 아닌 부모 요소 기준 */
  width: 100%;
  /* 부모 요소 너비의 100% */
  background-color: var(--color-dark-grey);
  bottom: 0;
  /* 위치 아래 0부터 시작 */
}

.graph__title,
.graph__percent {
  font-size: var(--font-micro);
}

.skillset__right {
  flex-basis: 40%;
  /* 부모 너비의 40%만큼 차지 */
  background-color: var(--color-gunmetal);
  /* 청회색 */
}

.tool li {
  padding: 15px 0;
  /* tool__list li 요소 padding 상하 15px 좌우 0 */
  font-size: var(--font-micro);
}

/* work__tab */
#work {
  background-color: var(--color-medium-grey);
}

.work__tab {
  margin: 40px;
}

.tab__btn {
  border: 2px solid var(--color-black);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  color: var(--color-ivory);
  padding: 4px 30px;
}

.tab__btn.active,
.tab__btn:hover {
  /* 아이템이 active하거나 커서 올라가면 스타일 변경 */
  color: var(--color-indigo);
  font-weight: var(--weight-bold);
  background-color: var(--color-dark-blue);
}

.tab__btn.active .work__count,
.tab__btn:hover .work__count {
  /* tab__btn이 active인 상태의 work__count와
     tab__btn에 커서 올라갔을 때 work__count */
  opacity: 1;
  /* 투명도 1 */
  top: 0;
  left: 0;
}

.work__count {
  border: 3px solid var(--color-purple);
  border-radius: var(--size-border-radius);
  color: var(--color-ivory);
  display: inline-block;
  /* span은 inline요소라서 박스 크기를 꽉 채우기 때문에
  inline-block으로 변경*/
  width: 25px;
  height: 30px;
  line-height: 30px;
  /* line-height은 한줄만 수직 정렬할 때 사용 */
  position: relative;
  left: -180px;
  top: -80px;
  opacity: 0;
  /* 투명도 0 */
  transition: all 300ms cubic-bezier(0.95, 0.13, 0.61, 0.58);
}

/* Work Category Filtering */
.project.visible {
  display: none;
}

/* work__project */
.work__project {
  display: flex;
  flex-wrap: wrap;
  /* 브라우저 사이즈가 줄어들면 아이템 사이즈는 안줄이고 다음 라인으로 넘김*/
  justify-content: center;
  /* 중앙 정렬 */
}

.project {
  width: 200px;
  height: 250px;
  margin: 5px;
  background-color: var(--color-light-grey);
  position: relative;
  /* 자식요소인 project__description에 absolute 지정 위해 */
  display: flex;
  justify-content: center;
  /* 수평 중앙 정렬 */
  align-items: center;
  /* 수직 중앙 정렬 */
}

.project__img {
  max-width: 100%;
  /* 부모 너비의 100%만큼 */
  max-height: 100%;
  /* 부모 높이의 100%만큼 */
  /* 조상인 work__project가 flex라서 가능 */
}

.project__description {
  position: absolute;
  /* project__description의 부모 요소에서 빠져나오기 위해 */
  /* relative는 원래 자리 차지하면서 이동 */
  /* 근접한 부모요소중 position이 static이 아닌 부모요소 기준*/
  top: 0;
  width: 100%;
  height: 100%;
  /* 부모 요소의 너비, 높이 100%만큼 */
  background-color: var(--color-dark-pink);
  display: flex;
  /* 수평 정렬 */
  flex-direction: column;
  /* 아이템 열로 배치 */
  justify-content: center;
  /* 중심축이 열, 중간 정렬 */
  opacity: 0;
  /* 투명도 0 */
  transform: translatex(2000px);
  transition: all 300ms cubic-bezier(0.9, 0.02, 0.49, 0.99);
}

.project:hover .project__description {
  /* .project에 커서 올라오면 .project__description */
  opacity: 0.9;
  transform: translateX(0);
}

.project__description h3:after {
  /* 가상클래스 */
  /* project__description h3 다음에 올 것 적기 */
  /* content 속성 필수 */
  content: '- - - - - - - - - - - - - - - - ';
  display: block;
  /* 한줄씩 들어가도록 하기 위해 block 지정 */
  margin-top: 10px;
}

/* Footer */
#footer {
  background-color: var(--color-heavy-grey);
  color: var(--color-white);
}

.footer__comment,
.footer__title {
  color: var(--color-white);
}

.contact {
  margin-bottom: 20px;
  color: var(--color-white);
  font-size: var(--font-medium);
}

.footer__link i {
  font-size: var(--font-large);
  color: var(--color-medium-grey);
  margin: 0 8px;
}

.footer__link i:hover {
  transform: scale(1.7) rotate(180deg);
  color: var(--color-white);
}

.top__btn {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 5rem;
  height: 5rem;
  font-size: var(--font-medium);
  color: var(--color-black);
  background-color: var(--color-dark-white);
  border-radius: var(--size-border-radius);
  opacity: 0;
  pointer-events: none;
  /* 안보일때는 클릭 불가능 */
  transition: all 300ms cubic-bezier(0.89, 0.15, 0.9, 0.19);
}

.top__btn.visible {
  opacity: 1;
  pointer-events: auto;
  /* 보일때는 클릭 가능 */
}

/* Responsive */
@media screen and (max-width: 800px) {
  /* media 쿼리가 800px 이하일 때 보여지는 것 */
  /* Navbar */
  .navbar__toggle {
    display: block;
    /* none으로 설정한 것을 다시 보이게 */
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    /* media 안에서는 display : flex는 상속됨 */
    width: 100%;
    text-align: center;
    margin-top: 15px;
    display: none;
  }

  /* About */
  .about__skack {
    flex-direction: column;
    /* display : flex는 상속 */
    align-items: center;
  }

  .stack {
    margin-bottom: 30px;
  }

  /* Skill */
  #skill {
    background-color: var(--color-light-yellow);
  }

  .skillset {
    flex-direction: column;
  }

  /* Work */
  #work {
    background-color: var(--color-ivory);
  }

  .tab__btn {
    margin-top: 15px;
    width: 100%;
    color: var(--color-black);
    font-weight: var(--weight-bold);
  }

  .work__count {
    color: var(--color-black);
  }

  .project {
    flex-grow: 1;
  }
}
